.container {
  height: 85vh;
}

.img-container {
  height: 37em;
  margin-top: 6.7%;
}

.bar-image {
  height: 40em;
  width: 70em;
  /* margin: auto; */
  /* margin-top: 8%; */
  border-radius: 35px;
  opacity: 0.9;
  box-shadow: 0 0 20px black;
}
