/* .container {
  background-color: #f6c101;

} */

.bar-image {
  height: 40em;
  width: 70em;
  display:block;
  /* margin-left:auto;
  margin-right:auto; */
  margin: auto;
  margin-top: 4%;
  border-radius: 35px;
  opacity: 0.9;
  box-shadow: 0 0 20px black;
}