.home-container {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  margin-top: 8%;
  justify-content: space-evenly;
  /* margin-right: 10%; */
}

.greeting {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  justify-content: space-evenly;
}

.welcome {
  margin-bottom: -7%;
  font-size: 3.25em;
}

.greeting-msg {
  font-size: 25px;
}

.home-button {
  box-shadow: 0 0 5px;
}
