img {
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barback-image {
  height: 40em;
  width: 70em;
  border-radius: 35px;
  opacity: 0.6;
  box-shadow: 0 0 10px black;
}

.about-text {
  margin-top: 10%;
  width: 75%;
  font-size: 2em;
  transform: translateY(-140%);
  color: #fff897;
  text-shadow: 0 15px 15px black;
}

.developers {
  color: #f28e1c;
  transform: translateY(-8.75em);
  font-size: 50px;
  text-shadow: 0 5px black;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  border: inset 5px #fff897;
  box-shadow: 0 0 10px black;
}

.team-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  margin-top: -23%;
  margin-bottom: 2%;
  row-gap: 20px;
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-and-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.name-what-end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 7px;
  border-radius: 10px;
  color: #f28e1c;
  text-shadow: 0 3px black;
  box-shadow: 0 0 5px black;
  width: 95%;
  height: 3.25em;
}

.name {
  font-size: 25px;
  font-weight: bold;
  color: #f28e1c;
  text-shadow: 0 3px black;
  margin-bottom: 0;
  margin-top: 3%;
}

.what-end {
  /* margin-bottom: 7px; */
  font-size: 15px;
  font-weight: bold;
  color: #f28e1c;
  text-shadow: 0 3px black;
  margin-top: 0;
}

.profile {
  box-shadow: 0 0 5px black;
  width: 95%;
}

.linkedin-and-github {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #624a2e;
  width: 15%;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
  transform: scale(1.05);
}

.linkedinAnchor,
.githubAnchor {
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg)
    brightness(108%) contrast(101%);
  margin: 0px 5px 0px 5px;
  transition: 0.2s;
}

.linkedinAnchor:hover,
.githubAnchor:hover {
  filter: invert(56%) sepia(44%) saturate(1321%) hue-rotate(352deg)
    brightness(104%) contrast(90%);
}
