.profile {
  box-shadow: 0 0 5px black;
  float: left;
  width: 14em;
  height: 14em;
  object-fit: cover;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barback-image {
  height: 40em;
  width: 70em;
  border-radius: 35px;
  opacity: 0.6;
  box-shadow: 0 0 10px black;
}

.about-text {
  margin-top: 10%;
  width: 75%;
  font-size: 2em;
  transform: translateY(-128%);
  color: white;
  text-shadow: 0 4px 4px black;
}

.developers {
  color: #fff897;
  transform: translateY(-11.75em);
  font-size: 50px;
  text-shadow: 0 5px 3px #624a2e;
  background-color: #f28e1c;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -37%;
  margin-bottom: 1%;
  row-gap: 20px;
}

.container-one {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.container-two {
  display: flex;
  align-items: center;
}

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.name-and-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
}

.name-what-end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #624a2e;
  margin-bottom: 7px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  width: 98%;
  padding: 5px;
  height: 2.5em;
  cursor: default;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #fff897;
  text-shadow: 0 2px #f28e1c;
  margin-bottom: 0;
  margin-top: 3%;
}

.what-end {
  font-size: 15px;
  font-weight: bold;
  color: #fff897;
  text-shadow: 0 1px #f28e1c;
  margin-top: 0;
}

.linkedin-and-github {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #624a2e;
  width: 25%;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
  transform: scale(1.05);
}

.linkedinAnchor,
.githubAnchor {
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg)
    brightness(108%) contrast(101%);
  margin: 0px 5px 0px 5px;
  transition: 0.2s;
}

.linkedinAnchor:hover,
.githubAnchor:hover {
  filter: invert(56%) sepia(44%) saturate(1321%) hue-rotate(352deg)
    brightness(104%) contrast(90%);
}
