.navbar-container {
  display: flex;
  align-items: center;
  color: #624a2e;
  margin-left: 1%;
  margin-top: 0;
  font-size: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.malt-matcher {
  display: flex;
  margin-right: 51em;
}

.about-us-container {
  display: flex;
  align-items: center;
  z-index: 1;
}

.malt, .matcher {
  letter-spacing: .05em;
  margin-top: 4%;
  padding: 2px;
}

.malt {
  background-color: #fff897;
}

.matcher {
  background-color: #f28e1c;
}

.about {
  color:#624a2e;
  z-index: 1;
}