h2 {
  margin-top: 8%;
}

.container {
  height: 100%;
}

.spilled-image {
  border-radius: 35px;
  opacity: 0.9;
  box-shadow: 0 0 20px black;
}

.home-button {
  width: 15em;
  height: 3em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  background-color: #f28e1c;
  border: none;
  margin-top: 2%;
}

.home-button:hover {
  background-color: #f28e1c;
  box-shadow: inset 0 0 10px #624a2e;
}

.home-button:active {
  box-shadow: inset 0 0 10px #f28e1c;
}